.StyledBox-sc-13pk1d4-0.hURnfZ.StyledDrop-sc-16s5rx8-0.hBywyV {
	background-color: #555555 !important;
	border-radius: 3px;
}
.krgMkD:hover, .bpWvhi:hover{
	text-decoration: none !important;
}
.activeMessageUser{
    background-color: #0a4574 !important;
}
.activeMessageUser h6 {
    color: white !important;
}